{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area">
        <h2>Login</h2>
        <!-- errors will appear here -->
        {{#if loginError}}
            <p style="color: red;">{{loginError}}</p>
        {{/if}}
        <form action="/login" method="POST">
            <!-- the login form goes here -->        
             <label for = "new-username">Username:</label>
            <input type = "text" id = "new-username" name = "username" required>
            <button type="submit">Login</button>
        </form>
    </section>

    <!-- say --OR-- ... finduserbyname should return an object from that arraywith style -->

    <section class = "register-area">
        <h2>Register</h2>
        <!-- errors will appear here -->
        {{#if regError}}
            <p style="color: red;">{{regError}}</p>
        {{/if}}
        <!--/like/{{post.id}}-->
        <form action="/register" method="POST">
            <!-- the registration form goes here , label-->
            <label for = "new-username">Username:</label>
            <input type = "text" id = "new-username" name = "username" required>
            <button type="submit">Register</button>

        </form>
    </section>
</section>